<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>boiler plate html</title>
    {% include 'semantics/tailwindCDN.html' %}
</head>
<style>
    html,
    body {
        height: 100%;
    }
    .content {
        min-height: 84%;
    }
</style>

<body>

    <div class="content">
        <div>
            {% include 'semantics/header.html' %}

            <!-- 
                DO
                Write 
                Your 
                Code Here
            -->


        </div>
    </div>


    {% include 'semantics/footer.html' %}

</body>

</html>