<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% include 'semantics/tailwindCDN.html' %}
</head>
<style>
    html,body{
        height: 100%;
    }
    .content{
        min-height: 84%;
    }
</style>
<body>

    <div class="content">
    <div >

        
        {% include 'semantics/header.html' %}
        <h1 style="font-size: xx-large; text-align: center;">Tmp doc, remove this doc/html file</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ex pariatur enim, ducimus sed itaque. Laboriosam, temporibus! Architecto, delectus illo, mollitia dolorum quibusdam fuga, dolore explicabo ullam aliquam enim harum.</p>
        
        
    </div>
    </div>


    {% include 'semantics/footer.html' %}

</body>

</html>